body {
    background-color: #9C835F;
    text-align: center;
}

.navbar h1 {
    color: #F9B23D;

}

.human{
    margin-right: 2%;
}
.bot{
    margin-left: 2%;
}

.d-flex img {
    width: 75%;
    margin: 12%;
}

.status {
    margin-top: 120%;
    font-size: 8rem;
    color: red;
}

img.reset {
    margin-top: 150%;
    width: 25%;
}

img:hover {
    background-color: #C4C4C4;
}

.win {
    padding-top: 15%;
    color: white;
    height: 150px;
    width: 250px;
    font-size: 2.5rem;
    background-color: #4C9654;
    transform: rotate(-25deg);
    border-radius: 10%;
}

.draw {
    padding-top: 25%;
    color: white;
    height: 150px;
    width: 250px;
    font-size: 2.5rem;
    transform: rotate(-25deg);
    border-radius: 10%;
    background-color: #035B0C;
}

/* ROCK-PAPER-SCISSORS */
/* .player {
    width: 7.2rem;
    height: 9.4rem;
}

.com {
    width: 7.2rem;
    height: 9.4rem;
}

.r {
    background-image: url("src/images/batu.png");
}

.p {
    background-image: url("src/images/kertas.png");

}

.s {
    background-image: url("src/images/gunting.png");
} */